---
import Layout from "@/layouts/Layout.astro"
import GenBarRailLabels from "@/components/GenBarRailLabels.astro"
import GenGridHeader from "@/components/GenGridHeader.astro"
import GenBarRails from "@/components/GenBarRails.astro"
import GenBars from "@/components/GenBars.astro"
import {
  GENERATIONS,
  START_YEAR,
  END_YEAR,
  GRID_TEMPLATE_COLUMNS,
  GRID_TEMPLATE_ROWS,
} from "@/lib/const"

const years = Array.from(
  { length: END_YEAR - START_YEAR + 1 },
  (_, i) => START_YEAR + i,
)
---

<Layout>
  <h1
    class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-foreground md:text-5xl lg:text-6xl"
  >
    They're how old?!
  </h1>
  <div class="relative overflow-x-scroll">
    <GenBarRailLabels generations={GENERATIONS} />
    <div class="relative ml-6 grid h-max">
      <GenGridHeader
        gridTemplateColumns={GRID_TEMPLATE_COLUMNS}
        years={years}
      />
      <GenBarRails
        gridTemplateColumns={GRID_TEMPLATE_COLUMNS}
        gridTemplateRows={GRID_TEMPLATE_ROWS}
        generations={GENERATIONS}
      />
      <GenBars
        gridTemplateColumns={GRID_TEMPLATE_COLUMNS}
        gridTemplateRows={GRID_TEMPLATE_ROWS}
        generations={GENERATIONS}
        startYear={START_YEAR}
      />
    </div>
  </div>
</Layout>
