---
import { cn } from "@/lib/utils"

const {
  generation,
  rowStart,
  colStart,
  colSpan,
  class: className,
} = Astro.props
---

<div
  class={cn("rounded-full mt-8 h-10 shadow-sm", className)}
  style={`grid-column: ${colStart} / span ${colSpan}; grid-row: ${rowStart}; background: linear-gradient(${generation.colorStart}, ${generation.colorStop}); border: 1px solid ${generation.colorStart}`}
>
</div>
